<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="FrameWorkTest.TestComponents.Listeners"/>
    </listeners>
    <test thread-count="5" verbose="2" preserve-order="true"
          name="Error Validation">
        <classes>
            <class name="FrameWorkTest.Tests.ErrorValidations">
                <methods>
                    <include name="loginWithIncorrectCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
    <test thread-count="5" verbose="2" preserve-order="true"
          name="Order Placement">
        <classes>
            <class name="FrameWorkTest.Tests.OrderPlacement">
                <methods>
                    <include name="OrderPlacement"/>
                    <include name="OrdersPageValidation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>